li {
        list-style: none;
        display: inline;
        padding-right: 20px;
}

ul {
        padding-left: 0;
}

header {
        background: #C0C0C0;
}

table#anlegen {
         width: 300px;
}